@media only screen and (max-width: 992px) {
  .Login-button {
    margin-top: 0.5rem !important;
    width: 500px;
    align-self: center !important;
  }

  .Registerbutton {
    margin-top: 0.5rem !important;
    width: 500px;
    align-self: center !important;
  }

  .Logout-google {
    margin-top: 0.5rem !important;
    width: 500px;
    align-self: center !important;
  }
}

@media only screen and (max-width: 528px) {
  .Login-button {
    width: 300px;
  }

  .Registerbutton {
    width: 300px;
  }

  .Logout-google {
    margin-top: 0.5rem !important;
    width: 300px;
  }
}
